{% extends "core/base.html" %}

{% block title %}CareForMe: plataforma de apoyo para los cuidadores informales.{% endblock %}
{% block content %}
    <style>
        body {
            background-image: url("/media/background/landing.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>
    <div class="container d-flex flex-column justify-content-center vh-95">
        <div class="encabezado " align="center">
            <h1>Bienvenido a CareForMe</h1>
            <br>
            
            <div class="col-md-8 col-sm-12" 
                 style="background-color: rgba(92, 94, 97, 0.7); /* Color de fondo semitransparente */
                    color: rgb(255, 255, 255); /* Color de texto */
                    padding: 15px;
                    font-size: larger;
                    text-align: justify ;
                    border-radius: 50px;"
            >
                <p >
                    Plataforma dirigida principalmente a <b>cuidadores informales</b> con el objetivo de brindar información 
                    relevante sobre temas de cuidado de personas mayores con demencia.
                    También permite distintas 
                    funcionalidades extras para apoyar en la labor de los cuidados en el día a día. 
                </p>
            </div>
            <br>
        </div>
        <div class="row justify-content-center">
            <div class="mx-auto">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg"><i class="fa fa-sign-in mr-1" aria-hidden="true"></i>Acceder</a>
            </div>
        </div>   

    </div>
    
{% endblock  %}
